#============= init ==============
allow init sdcardd_exec:file getattr;

#============= nfc ==============
#allow nfc device:chr_file { read write };


#============= system_server ==============
allow system_server persist_file:file { read write };

#============= time_daemon ==============
allow time_daemon persist_file:dir search;

